/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Khoảng cách giữa các nút */
    margin-top: 20px; /* Khoảng cách phía trên nút */
}

/* Block */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 100px;
    transition: opacity 0.2s;
}
.btn--size-l {
    padding: 16px 56px;
}
.btn--size-s {
    padding: 8px 32px;
}
.btn:hover {
    opacity: 0.8;
}
.btn + .btn {
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.btn--success {
    background-color: #71be34;
}
.btn--warn {
    background-color: #ffb702;
}
.btn--danger {
    background-color: #f43c09;
}
.btn--disable {
    opacity: 0.5 !important;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.8);
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    transition: linear 0.3s;
    z-index: 999999;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d468;
}
.toast--success .toast__icon {
    color: #47d468;
}
.toast--error {
    border-color: #ff623d;
}
.toast--error .toast__icon {
    color: #ff623d;
}
.toast--info {
    border-color: #2f86eb;
}
.toast--info .toast__icon {
    color: #2f86eb;
}
.toast--warning {
    border-color: #ffc021;
}
.toast--warning .toast__icon {
    color: #ffc021;
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 16px;
}
